# This is Git's per-user configuration file.
[user]
        name = Alex Ianus
        email = hire@alexianus.com
[push]
        default = current

[alias]
	permission-reset = !git diff -p -R --no-ext-diff --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[credential]
        helper = /usr/bin/gp credential-helper

